.body{
    background: #ffffff;
    color:#000000;
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 40px;
    transition: 0.4s;
}

button{
    padding: 10px 20px;
    border:none;
    background: #007bff;
    color: #fff;
    cursor: pointer;
    margin-bottom: 20px;
}

/*dark mode*/
.dark-mode{
    background: #121212;
    color: #ffffff;
}

.dark-mode button{
    background: #ff9800;
}