body.light-mode{
    background: #ffffff;
    color:#000000;
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 40px;
    transition: 0.4s;
}



/*dark mode*/
body.dark-mode{
    background: #121212;
    color: #ffffff;
}
